<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.smbms.dao.flights.FlightsMapper">

	<select id="getFlightsList" resultType="Flights">
		SELECT f.*,a.`airportName` FROM flights  f INNER JOIN airports a ON f.`takeoffAirportId`=a.`id`  INNER JOIN airports b ON 
		f.`landingAirportId`=b.`id`
		<trim prefix="where"  prefixOverrides="AND">
		<if test="flightDate!=null and flightDate!=''">
				AND f.flightDate=#{flightDate}
		</if>
		<if test="takeoffAirportId!=null">
				AND f.`takeoffAirportId`=#{takeoffAirportId}<!-- (SELECT a.id FROM airports a WHERE a.`cityName`=#{cityName}) -->
		</if>
		<if test="landingAirportId!=null">
				AND f.`landingAirportId`=#{landingAirportId}<!-- (SELECT b.id FROM airports b WHERE b.`cityName`=#{cityName}) -->
		</if>
		</trim>
	</select>
	
	 <select id="getFliList" resultType="Flights">
		SELECT f.*,a.`airportName` FROM flights  f INNER JOIN airports a ON f.`takeoffAirportId`=a.`id`  INNER JOIN airports b ON 
		f.`landingAirportId`=b.`id`
	</select>
</mapper>