<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
    
   <!-- 通过JNDI配置DataSource -->
    <!-- <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        通过jndiName指定引用的JNDI数据源名称
        <property name="jndiName">
            <value>java:comp/env/jdbc/smbms</value>
        </property>
    </bean>  -->
    
    
  <!-- 引入properties文件 -->
	<import resource="applicationContext-dao.xml"/>
	<import resource="applicationContext-service.xml"/>
   <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:database.properties</value>
        </property>
    </bean> 
    <!-- 配置DataSource -->
    <bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${driver}" />
        <property name="url" value="${url}" />
        <property name="username" value="${username}" />
        <property name="password" value="${password}" />
    </bean> 
	
    <!-- 配置SqlSessionFactoryBean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 引用数据源组件 -->
        <property name="dataSource" ref="dataSource" />
        <!-- 引用MyBatis配置文件中的配置 -->
        <property name="configLocation" value="classpath:mybatis-config.xml" />
        <!-- 配置SQL映射文件信息 -->
        <property name="mapperLocations">
            <list>
                <value>classpath:cn/smbms/dao/**/*.xml</value>
            </list>
        </property>
    </bean>
    
    <!--  yyyyyydao层访问层/////-->
   <!--  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        <property name="basePackage" value="cn.smbms.dao" />
    </bean> -->
    
   <!--  <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.smbms.dao.user.UserMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean> -->
    <!-- 配置SqlSessionTemplate -->
    <!-- <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean> -->
    
    <!-- 配置DAO -->
    <!-- <bean id="userMapper" class="cn.smbms.dao.user.UserMapperImpl">
        <property name="sqlSession" ref="sqlSessionTemplate" />
    </bean>
   
    配置业务Bean
    <bean id="userService" class="cn.smbms.service.user.UserServiceImpl">
        <property name="userMapper" ref="userMapper" />
    </bean> -->
    
    <!--  扫描业务层注解-->
     <context:component-scan base-package="cn.smbms.service"/>
     
     
     <!-- yyyyy定义事务管理器 -->
     <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
     	<property name="dataSource" ref="dataSource"></property>
     </bean>
     <!-- 事务注解  -->
     <tx:annotation-driven transaction-manager="transactionManager"/>
     
     
     
     
     
     <!-- <tx:advice id="txAdvice" transaction-manager="transactionManager">
     	<tx:attributes>
     		<tx:method name="find*" propagation="SUPPORTS"/>
     		<tx:method name="add*" propagation="REQUIRED"/>
     		<tx:method name="del*" propagation="REQUIRED"/>
     		<tx:method name="update*" propagation="REQUIRED"/>
     		<tx:method name="*" propagation="REQUIRED"/>
     	</tx:attributes>
     </tx:advice>
     <aop:config>
     	<aop:pointcut id="serviceMethod" expression="execution(* cn.smbms.service..*.*(..))"/>
     	<aop:advisor advice-ref="tsAdvice" pointcut-ref="serviceMethod"/>
     </aop:config> -->
   	<!--  providerdao-->
   	<!-- <bean id="providerMapper" class="cn.smbms.dao.provider.ProviderMapperImpl">
        <property name="sqlSession" ref="sqlSessionTemplate" />
    </bean>
   	<bean id="providerService" class="cn.smbms.service.provider.ProviderServiceImpl">
        <property name="providerMapper" ref="providerMapper" />
    </bean>
    
    billdao
    <bean id="billMapper" class="cn.smbms.dao.bill.BillMapperImpl">
    	
    	  <property name="sqlSession" ref="sqlSessionTemplate" />
    </bean>
    <bean id="billService" class="cn.smbms.service.bill.BillServiceImpl">
       <property name="billMapper" ref="billMapper"/>
    </bean> -->
</beans>